.elementor-kit-11309{--e-global-color-primary:#3B3B3D;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-25d30a75:#6EC1E4;--e-global-color-6aa75b27:#4054B2;--e-global-color-3454e765:#23A455;--e-global-color-d133821:#000;--e-global-color-56b0696:#FFF;--e-global-color-219b8881:RGBA(187, 122, 122, 0.5686274509803921);--e-global-color-60554742:#000000;--e-global-color-49b1f027:#000000;--e-global-color-6c8fd0e4:#4F67FF;--e-global-color-baac657:#52566C;--e-global-color-f95dcbd:#4E6BF6;--e-global-typography-text-font-family:"Gotham Rounded";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;color:#52566C;font-family:"Gotham Rounded", Sans-serif;font-size:16px;}.elementor-kit-11309 a{color:#00CDC4;}.elementor-kit-11309 a:hover{color:#4F67FF;}.elementor-kit-11309 h2{color:#191E3B;font-family:"Gotham Rounded", Sans-serif;font-size:32px;font-weight:700;line-height:1.13em;letter-spacing:-0.4px;}.elementor-kit-11309 h3{color:#52566C;font-family:"Gotham Rounded", Sans-serif;font-size:24px;font-weight:500;line-height:1.17em;letter-spacing:-0.4px;}.elementor-kit-11309 button,.elementor-kit-11309 input[type="button"],.elementor-kit-11309 input[type="submit"],.elementor-kit-11309 .elementor-button{color:#FFFFFF;}.elementor-kit-11309 button:hover,.elementor-kit-11309 button:focus,.elementor-kit-11309 input[type="button"]:hover,.elementor-kit-11309 input[type="button"]:focus,.elementor-kit-11309 input[type="submit"]:hover,.elementor-kit-11309 input[type="submit"]:focus,.elementor-kit-11309 .elementor-button:hover,.elementor-kit-11309 .elementor-button:focus{color:#FFFFFF;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1000px;}.elementor-widget:not(:last-child){margin-bottom:0px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:999px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}}@media(max-width:767px){.elementor-kit-11309 h2{font-size:24px;}.elementor-kit-11309 h3{font-size:16px;line-height:1.38em;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}}/* Start custom CSS */a {
    overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.home-blog-carousel img, .home-blog-carousel .uael-post__bg-wrap {
    border-radius: 10px 10px 0 0;
}
.characters-carousel .swiper-slide-image {
    border-radius:10px;
}


/* make youtube videos responsive */
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.cookie-consent {
    z-index: 999999;
}
.footer .menu a {
    color: #ffffff !important;
}
#back-to-top {
    opacity: 0.5;
}
#back-to-top .elementor-icon-wrapper {
    height: 50px;
}
.language-switcher li:not(:first-child) {
    border: none !important;
}

.wt-cli-cookie-bar {
    z-index: 999999 !important;
    width: 70% !important;
    min-width: 768px;
    max-width: 960px;
}
.wt-cli-cookie-bar .cli_settings_button {
    margin-left: 0 !important;
}
.wt-cli-element {
    border-radius: 4px !important;
}
.wt-cli-cookie-bar .title {
    font-size:20px;
}
.wt-cli-cookie-bar span {
    display: flex;
    align-items: center;
}
.wt-cli-cookie-bar .elliot {
    min-width: 100px;
    margin-right: 20px
}
.cli-bar-message {
    width:100%;
}
.cli-bar-container {
    justify-content: flex-start !important;
}
#cookie-law-info-again {
    box-shadow: unset;
    background-color: unset !important;
    font-size: 30px;
}
.cli-plugin-button {
    border: 1px rgb(0, 205, 196) !important;
}
.page-content .cli_settings_button {
    color: #00CDC4 !important;
    border: none !important;
    padding: 0 !important;
    font-size: 1em !important;
    margin: 0 0 15px !important;
    cursor: pointer;
}
.speech-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid transparent;

  bottom: -20px;
}
.speech-bubble-left:before {
  left: 37px;
}
.speech-bubble-right:before {
  right: 37px;
}

.basic-plan .elementor-price-table__features-list .elementor-price-table__feature-inner  span {
    color: #8d8f9e;
}
.basic-plan .elementor-price-table__features-list li:nth-child(2) span  {
        color: #191E3B;
}

@media screen and (max-width:480px) {
    .wt-cli-cookie-bar {
        width:100% !important;
        min-width:unset;
        top: 50%;
        bottom:unset !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
    }
    .wt-cli-cookie-bar .cli-bar-message, .wt-cli-cookie-bar .cli-plugin-main-link {
        font-size:3vw !important;
    }
    .wt-cli-cookie-bar .title {
        font-size: 4.4vw;
    }
    .wt-cli-cookie-bar span {
        display: block;
    }
    .wt-cli-cookie-bar .cli_action_button {
        margin-left:9px !important;
    }
    .wt-cli-cookie-bar .elliot {
        text-align:center;
    }
    .wt-cli-cookie-bar .elliot img {
        width:18vw;
    }
    .cookie-consent .dialog-widget-content {
        bottom: 68px;
        position: fixed;
    }

    #back-to-top .elementor-icon-wrapper {
        height: 30px;
    }
    .help-bubble .elementor-button-text {
        display:none;
    }
    .help-bubble .elementor-button-icon {
        margin:0;
    }
    .language-switcher li:not(:first-child) {
        border-left: 1px solid #191e3b !important;
    }
}

@media screen and (max-width:768px) {
    #launcher {
        bottom: 68px !important;
    }
    #launcher .label-3kk12 {
        display: none !important;
    }
    .wt-cli-cookie-bar {
        width:80% !important;
        min-width:unset;
    }
    #cookie-law-info-again {
        left: 0px !important;
        bottom: 68px !important;
    }
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Gotham Rounded';
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('https://lingokids.com/wp-content/uploads/2020/02/GothamRoundedBold_21016.ttf') format('truetype');
}
@font-face {
	font-family: 'Gotham Rounded';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('https://lingokids.com/wp-content/uploads/2020/02/GothamRoundedMedium_21022.ttf') format('truetype');
}
/* End Custom Fonts CSS */